.article__main {
  display: flex;
  border-bottom: solid 1px black;
  align-items: center;
}
.article__title {
  flex: 4;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0 10px;

  :nth-child(1) {
    font-size: 12px;
    padding-bottom: 5px;
  }
  :nth-child(2) {
    font-size: 10px;
  }
  :nth-child(3) {
    font-size: 6px;
    opacity: 0.5;
  }
}

.article__img {
  object-fit: contain;
  width: 100%;
  height: 100px;
  filter: grayscale(100%);
}

.article_container__image {
  flex: 1;
  border-right: 1px solid black;
  height: 100%;
  padding: 20px 0;
}
