.item__title {
  border-bottom: solid 1px black;
  overflow-y: scroll;
  height: calc(80vh - 59px);

  div {
    border-bottom: solid 1px black;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    :nth-child(2) {
      font-size: 10px;
    }

    :last-child {
      cursor: pointer;
      margin-right: 5px;
    }
  }
}
